[submodule ".registry"]
	path = .registry
	url = https://github.com/polyploids/polyploids.r-universe.dev
	branch = HEAD
[submodule "GWASpoly"]
	path = GWASpoly
	url = https://github.com/jendelman/GWASpoly
[submodule "PolyHaplotyper"]
	path = PolyHaplotyper
	url = https://github.com/cran/PolyHaplotyper
[submodule "diaQTL"]
	path = diaQTL
	url = https://github.com/jendelman/diaQTL
[submodule "fitPoly"]
	path = fitPoly
	url = https://github.com/cran/fitPoly
[submodule "mappoly"]
	path = mappoly
	url = https://github.com/mmollina/MAPpoly
[submodule "polyAinv"]
	path = polyAinv
	url = https://github.com/mghamilton/polyAinv
[submodule "polyBreedR"]
	path = polyBreedR
	url = https://github.com/jendelman/polyBreedR
[submodule "polyRAD"]
	path = polyRAD
	url = https://github.com/lvclark/polyRAD
[submodule "polymapR"]
	path = polymapR
	url = https://github.com/cran/polymapR
[submodule "polyqtlR"]
	path = polyqtlR
	url = https://github.com/cran/polyqtlR
[submodule "qtlpoly"]
	path = qtlpoly
	url = https://github.com/gabrielgesteira/QTLpoly
[submodule "updog"]
	path = updog
	url = https://github.com/dcgerard/updog
[submodule "viewpoly"]
	path = viewpoly
	url = https://github.com/mmollina/viewpoly
