[submodule ".registry"]
	path = .registry
	url = https://github.com/polyploids/universe
	shallow = true
	branch = HEAD
[submodule "diaQTL"]
	path = diaQTL
	url = https://github.com/jendelman/diaQTL
	shallow = true
	registered = true
[submodule "fitPoly"]
	path = fitPoly
	url = https://github.com/cran/fitPoly
	shallow = true
	registered = true
[submodule "GWASpoly"]
	path = GWASpoly
	url = https://github.com/jendelman/GWASpoly
	shallow = true
	registered = true
[submodule "polyBreedR"]
	path = polyBreedR
	url = https://github.com/jendelman/polyBreedR
	shallow = true
	registered = true
[submodule "mappoly"]
	path = mappoly
	url = https://github.com/mmollina/MAPpoly
	shallow = true
	registered = true
[submodule "polymapR"]
	path = polymapR
	url = https://github.com/cran/polymapR
	shallow = true
	registered = true
[submodule "polyqtlR"]
	path = polyqtlR
	url = https://github.com/cran/polyqtlR
	shallow = true
	registered = true
[submodule "polyRAD"]
	path = polyRAD
	url = https://github.com/lvclark/polyRAD
	shallow = true
	registered = true
[submodule "qtlpoly"]
	path = qtlpoly
	url = https://github.com/guilherme-pereira/QTLpoly
	shallow = true
	registered = true
[submodule "sommer"]
	path = sommer
	url = https://github.com/cran/sommer
	shallow = true
	branch = 3.6
	registered = true
[submodule "SPA3G"]
	path = SPA3G
	url = https://github.com/cran/SPA3G
	shallow = true
	registered = true
[submodule "updog"]
	path = updog
	url = https://github.com/dcgerard/updog
	shallow = true
	registered = true
[submodule "varComp"]
	path = varComp
	url = https://github.com/cran/varComp
	shallow = true
	registered = true
[submodule "MAPpoly"]
	path = MAPpoly
	url = https://github.com/mmollina/MAPpoly
	shallow = true
	registered = false
